@charset "UTF-8";

/* 헤더 관련 */
		#header{
            width: 1500px;
            height: 80px;
            margin-bottom: 10px;
            display: flex;
        }
        #title {
            width: 270px;
            height: 60px;
            margin-bottom: 10px;

            display: inline-block;
            font-size: 40px;
            text-align: center;
        }
        #search-area{
            width: 1000px;
            height: 60px;
            margin-left: 15px;
            margin-bottom: 10px;
            font-size: 40px;
            display: inline-block;
            padding-left: 40px;
           
        }

        #search-area>input{
            width: 640px;
            height:40px;
            padding-left: 100px;
            margin-left: 5px;
            margin-bottom: 10px;
            font-size: 40px;
            border: 1px solid #bcbcbc;
            border-radius: 10px;
        }
        
        #banner-area{
            width: 230px;
            height: 60px;
            padding-left: 20px;
            margin-bottom: 10px;
            display: inline-block;
            font-size: 40px;
        }
